export(QTLsim)
export(diallel_pedigree)
export(fake_haplo)
export(linear_pedigree)
export(pedigreesimR)
export(round_pedigree)
export(self_pedigree)
export(star_pedigree)
importFrom("stats", "rbinom", "rnorm", "rpois", "sd", "var")
importFrom("utils", "combn", "read.table", "write.csv", "write.table","read.csv")
importFrom("diaQTL","read_data", "scan1", "set_params","fitQTL")
importFrom("updog", "flexdog", "rflexdog")
importFrom("stringr", "str_pad")
importFrom("parallel", "stopCluster")
importFrom("foreach", "foreach", "%dopar%")
