export(diallel_pedigree)
export(round_pedigree)
export(star_pedigree)
export(linear_pedigree)
export(self_pedigree)
export(fake_haplo)
export(pedigreesimR)
import(stringr)
import(updog)
import(parallel)
import(foreach)
import(doParallel)
